
body{
  background-color: #7F3737;
  }
  
  #personinfoleft div img{
    border-radius: 10px;
      width: 300px;
      }
      /*
      #frontdescription{
        float:left;
          margin-left: 265px;
            margin-top:200px;
              font-family: Microsoft JhengHei;
                font-size: 50px;
                  color: #026C6C;
                    text-shadow:3px 3px 3px #22BBBB;
                    }
                    */
                    
                    #personinfo{
                      padding:40px;
                        border-radius: 30px;
                          background: #AB54FF;
                            width:1220px;
                              height:610px;
                                top:0;
                                    right:0;
                                        bottom:0;
                                            left:0;
                                              box-shadow: 2px 2px 8px 0px rgba(,0,0,0.75);
                                                margin: auto;
                                                  position: absolute;
                                                  }
                                                  #personinfoleft{
                                                    width:300px;
                                                      float:left;
                                                      }
                                                      #persontitle{
                                                        border-radius: 10px;
                                                          line-height: 150px;
                                                            font-size: 50px;
                                                              width: 300px;
                                                                text-align: center;
                                                                  margin-top: 71px;
                                                                    font-family: Microsoft JhengHei;
                                                                      color:white;
                                                                        background-color: #E813DD;
                                                                          box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.5);
                                                                          }
                                                                          
                                                                          #personinforight{
                                                                            width:850px;
                                                                              height:600px;
                                                                                background-color: #E813DD;
                                                                                  box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.5);
                                                                                  
                                                                                    float:right;
                                                                                      border-radius: 10px;
                                                                                      }
